:root {
  --light-grey:   #e7e7e8;

  --light-green:  #8dc63f;
  --dark-green:   #00753d;
  --turquoise:    #16a796;
  --light-blue:   #1a82c5;
  --dark-purple:  #653090;
  --light-purple: #9d316f;
  --light-red:    #ed1c24;
  --orange:       #f26c25;
  --yellow:       #facc10;
}


.color-bar {
  height: 6px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr)
}

.color-bar__color:nth-child(1) { background: var(--light-green); }
.color-bar__color:nth-child(2) { background: var(--dark-green); }
.color-bar__color:nth-child(3) { background: var(--turquoise); }
.color-bar__color:nth-child(4) { background: var(--light-blue); }
.color-bar__color:nth-child(5) { background: var(--dark-purple); }
.color-bar__color:nth-child(6) { background: var(--light-purple); }
.color-bar__color:nth-child(7) { background: var(--light-red); }
.color-bar__color:nth-child(8) { background: var(--orange); }
.color-bar__color:nth-child(9) { background: var(--yellow); }
.color-bar__color:nth-child(10) { background: var(--light-grey); }
